version: '3.7'
services:
  mysql:
    container_name: mysql
    image: mysql:8.0
    networks:
      - dev
    ports:
      - "3309:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=test
      - MYSQL_PASSWORD=testpass
      - MYSQL_DATABASE=verification_system_db
    env_file:
      - .env
    command: --default-authentication-plugin=mysql_native_password

  php-fpm:
    container_name: php
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
    volumes:
      - ./:/var/www:consistent
    networks:
      - dev
    depends_on:
      - mysql
      - rabbitmq
      - mailhog

  nginx:
    container_name: nginx
    build: ./docker/nginx
    ports:
      - "8000:80"
    networks:
      - dev
    volumes:
      - ./:/var/www:consistent
    depends_on:
      - php-fpm

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - dev

  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - dev

  gotify:
    container_name: gotify
    image: gotify/server
    ports:
      - "8080:80"
    environment:
      - GOTIFY_DEFAULTUSER_PASS=custom
    networks:
      - dev

networks:
  dev:
    driver: bridge